<h1 align = center>Facebook</h1>
 <div align = center>
 <form action="/login">
  
  <input type = "submit" value = "Login">
  
</form> <br>
<form action = "/signup">
    <input type="submit" value = "Sign up">
</form>
</div>