<div align = center>
    <h1>LOGIN</h1>
    <form action="/">

  <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="fname" ><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass"><br><br>
  <input type="submit" value="Login">
</form> 
</div>